* -text
*.ttf binary
*.aff whitespace=-trailing-space,-blank-at-eof
*.dic whitespace=-trailing-space,-blank-at-eof
*.tex whitespace=-trailing-space,-blank-at-eof
*/COPYING* whitespace=-trailing-space,-blank-at-eof
*/LICENSE* whitespace=-trailing-space,-blank-at-eof
*/README_hyph_de.txt whitespace=-trailing-space,-blank-at-eof
*/README_hyph_sl_SI.txt whitespace=-trailing-space,-blank-at-eof
